html {
    scroll-behavior: smooth;
}

#mine {
    background-color: floralwhite;
    background-size: cover;
    text-align: center;
    font-family: amiko;
}

#firstpage {
    background-image: url(images/elephant.png), url(images/owl.png);
    background-position: left top, right bottom;
    background-size: 35%, 30%;
    background-repeat: no-repeat;
    position: relative;
    z-index: 90;
    height: 100vh;
    padding-right: 10vw;
    padding-left: 10vw;
    padding-top: 27vh;
    padding-bottom: 42vh;
}

#firstpage h5 {
    padding-top: 17px;
    font-size: 17px;
}

#name {
    font-family: bulgatti;
    font-size: 50px;
    text-align: center;
    margin-top: 50px;
}

#name a, #menu a {
    color: #111;
    transition: 0.5s ease;
    border: none;
}

#name a:link, #menu a:link {
    text-decoration: none;
}

#name a:hover, #menu a:hover {
    color: darksalmon;
    transition: 0.5s ease;
}

#menuButton {
    right: 50%;
    left: 50%;
    background-color: floralwhite;
    font-size: 30px;
    border: none;
    padding: 6px 10px 0px 10px;
/*    border: 2px solid black;*/
}

#menuButton:hover {
    color: darksalmon;
    transition: 0.5s ease;
    border-color: darksalmon;
}

#menu {
    background-color: floralwhite;
    border: none;
    padding: 5px;
    display: inline-block;
}

#menu a {
    font-size: 20px;
    padding: 5px;
}

#aboutme {
    background: url("images/abstract.jpg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
}

#page2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 1rem;
    padding: 50px 0px;
}

#text2 {
    padding: 0px 25px;
}

#text2 h1, #text2 p {
    background-color: floralwhite;
    box-shadow: 1px 1px 15px;
    padding: 2px 10px;
    margin: 10px;
    border-radius: 10px;
}

#text2 h1 {
    display: inline-block;
    font-size: 50px;
}

#text2 p {
    padding: 10px;
    font-size: 17px;
    text-align: justify;
}

.pics {
    display: grid;
    margin: 50px 25px;
}

.pics img {
    border-radius: 50%;
    box-shadow: 1px 1px 15px;
}

#picofme {
    width: 100%;
}

#bball {
    margin-top: 100px;
    width: 100%;
}

#projects, #career {
    padding: 50px 0px;
}

#projects h1, #career h1 {
    font-size: 50px;
    margin-bottom: 50px;
}

#courses h2, #education h2, #experience h2 {
    margin-bottom: 30px;
}

#career .content {
    margin-bottom: 30px;
}

.content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 1rem;
}

.page3 {
/*
    border: 2px solid #111;
    border-radius: 20px;
*/
    padding: 20px 20px 10px 20px;
    transition: 0.5s ease;
}

.page3 p {
    text-align: justify;
}

.page3 img {
    box-shadow: 1px 1px 15px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.page3:hover {
    border-color: darksalmon;
    transition: 0.5s ease;
}

.btn.btn-danger {
    margin-top: 20px;
    margin-bottom: 10px;
    padding-top: 7px;
    display: inline-block;
    border: none;
    background-color: darksalmon;
    color: #111;
}

.btn.btn-danger:focus, .btn.btn-danger:active,
    .btn.btn-danger:hover {
    outline: 0;
    border: none;
    background-color: darksalmon;
    color: floralwhite;
}

#artwork {
    background: url("images/wall.jpg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
}

#page4 {
    padding: 50px 0px;
}

#page4 h1 {
    font-size: 50px;
    margin-bottom: 35px;
}

.art {
    padding: 20px 20px 10px 20px;
    transition: 0.5s ease;
}

.art img {
    box-shadow: 1px 1px 15px;
    margin-top: 5px;
    margin-bottom: 10px;
    width: 100%;
}

.art h6, #page4 h1 {
    background-color: floralwhite;
    box-shadow: 1px 1px 15px;
    padding: 2px 10px;
    margin: 20px;
    border-radius: 10px;
    display: inline-block;
}

#contact h1 {
    margin: 50px 0px 30px 0px;
    font-size: 75px;
}

#contact {
    padding: 10% 0%;
    background-image: url(images/elephant.png), url(images/owl.png);
    background-position: left top, right bottom;
    background-size: 30%, 25%;
    background-repeat: no-repeat;
}

.links h5 {
    display: inline-block;
    margin: 20px;
    font-size: 25px;
}

.links a {
    color: #111;
    transition: 0.5s ease;
    border: none;
}

.links a:link {
    text-decoration: none;
}

.links a:hover {
    color: darksalmon;
    transition: 0.5s ease;
}

#scrollBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  color: #111; /* Text color */
    background-color: floralwhite;
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 5px 10px 4px 10px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 25px; /* Increase font size */
    transition: 1s ease;
}

#scrollBtn:hover {
  color: darksalmon;
    border-color: darksalmon;
    transition: 0.5s ease;
}

@font-face {
    font-family: bulgatti;
    src: url("fonts/bulgatti-font/Bulgatti-xgMV.ttf");
}

@font-face {
    font-family: amiko;
    src: url("fonts/amiko/Amiko-Regular.ttf");
}