#mine {
    background-color:  antiquewhite;
    text-align: center;
}

#firstpage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

#name {
    font-family: bulgatti;
    font-size: 50px;
    text-align: center;
    margin-top: 50px;
}

#name a, #menu a {
    color: black;
    transition: 0.5s ease;
    border: none;
}

#name a:link, #menu a:link {
    text-decoration: none;
}

#name a:visited, #menu a:visited {
    color: black;
}

#name a:hover, #menu a:hover {
    color: darksalmon;
    transition: 0.5s ease;
}

#menuButton {
    margin-top: 30px;
    right: 50%;
    left: 50%;
    background-color: antiquewhite;
    border: 1px solid black;
}

#menuButton:hover {
    color: darksalmon;
    transition: 0.5s ease;
    border-color: darksalmon;
}

#menu {
    background-color: antiquewhite;
    border: none;
    font-family: amiko;
    padding: 5px;
}

#menu a {
    font-size: 20px;
    padding: 5px;
}

@font-face {
    font-family: bulgatti;
    src: url("bulgatti-font/Bulgatti-xgMV.ttf");
}

@font-face {
    font-family: lora;
    src: url("lora/Lora-Regular.ttf");
}

@font-face {
    font-family: amiko;
    src: url("amiko/Amiko-Regular.ttf");
}